@import '../../styles/colors.scss';

.hands-table {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.hands-table-row {
  flex: 1;
  display: flex;
}

.hands-table-row > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hands-table-row > div::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.hands-table-header {
  margin: 3px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  background-color: $primary-color;
}

.hands-table-tile {
  margin: 3px;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  background-color: $light-grey;
  color: darken($light-grey, 20%);

  &.pair {
    background-color: darken($light-grey, 10%);
  }

  &:hover {
    color: $light-grey;
    background-color: darken($light-grey, 20%);
  }

  $positions-list: utg, hj, cu, bt, sb;
  @each $position in $positions-list {
    $color: map-get($positions-colors, #{$position});

    &.#{$position} {
      background-color: $color;
      color: darken($color, 35%);

      &:hover {
        background-color: darken($color, 35%);
        color: $color;
      }
    }
  }

  .hands-table-text {
    text-align: center;

    & > div {
      font-size: 60%;
    }
  }
}
