@import '../../styles/common.scss';

.table {
  display: flex;
  flex-direction: column;
  background-color: white;

  @each $position, $color in $positions-colors {
    &.#{$position} .tile.#{$position} {
      box-shadow: $box-shadow;
    }
  }

  .header {
    color: white;
    font-weight: bold;
    border-radius: $radius/2;
    margin: 0 $size/4 $size/4 0;
    background-color: $primary-color;
  }

  .row {
    flex: 1;
    display: flex;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tile {
    color: black;
    cursor: pointer;
    border-radius: $radius/2;
    margin: 0 $size/4 $size/4 0;
    background-color: $light-grey;
    color: darken($light-grey, 20%);
    @include text-shadow(lighten($light-grey, 20%));

    &.pair {
      background-color: darken($light-grey, 10%);
    }

    &:hover {
      color: $light-grey;
      text-shadow: none !important;
      background-color: darken($light-grey, 20%);
    }

    @each $position, $color in $positions-colors {
      &.#{$position} {
        background-color: $color;
        color: darken($color, 40%);
        @include text-shadow(lighten($color, 15%));

        &:hover {
          color: $color;
          background-color: darken($color, 40%);
        }
      }
    }

    .text {
      text-align: center;

      & > div {
        font-size: 60%;
        line-height: 100%;
        margin-top: $size/8;
      }
    }
  }
}
