@import '../../styles/common.scss';

.card-picker {
  flex: 1;
  display: flex;
  border-radius: $radius;
  flex-direction: column;
  background-color: white;
  box-shadow: $box-shadow;
  padding: $size/4 $size/8;
  border: $size/8 solid $primary-color;
}

.card-picker-card,
.card-picker-colors,
.card-picker-figures {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 $size/4*-1 0;
  justify-content: space-around;
}

.card-picker-color,
.card-picker-figure {
  display: flex;
  align-items: center;
  margin: 0 0 $size/4 0;
  justify-content: center;
}

.card-picker-color {
  flex: 0 0 45%;
  cursor: pointer;
  font-size: $size*2;
  border-radius: $radius/2;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-picker-figure {
  flex: 0 0 23%;
  cursor: pointer;
  color: $primary-color;
  border-radius: $radius/2;
  background-color: $light-grey;
  border: $size/8 solid $light-grey;
}

.card-picker-figure:hover {
  color: $light-grey;
  background-color: $primary-color;
  border: $size/8 solid $primary-color;
}

.card-picker-color:hover {
  background-color: #efefef;
}

.card-picker-color::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card-picker-card {
  flex: 1;
  margin: 0;
  display: flex;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;

  @each $suit, $color in $suit-colors {
    &.color-#{$suit} {
      color: $color;
    }
  }

  &:hover {

    .reset {
      display: block;
    }
  }

  & > span {
    // flex: 1;
    font-size: $size;
    line-height: 100%;
    font-weight: bold;

    &:first-child {
      top: 0;
      left: $size/8;
      position: absolute;
    }

    &:last-child {
      bottom: 1 + $size/8 * -1;
      right: $size/8 - 1;
      position: absolute;
      transform: rotate(180deg);
    }

    &.reset {
      top: -2px;
      display: none;
      right: $size/4;
      cursor: pointer;
      font-weight: bold;
      position: absolute;
      color: darken($light-grey, 10%);
      font-family: 'PT Sans', sans-serif;

      &:hover {
        color: darken($light-grey, 20%);
      }
    }
  }
}
