.card-picker {
  flex: 1;
  padding: 4px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #666;
  flex-direction: column;
  background-color: white;
}

.card-picker-card,
.card-picker-colors,
.card-picker-figures {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px -4px 0;
}

.card-picker-color,
.card-picker-figure {
  display: flex;
  margin: 0 4px 4px 0;
  align-items: center;
  justify-content: center;
}

.card-picker-color {
  flex: 0 0 45%;
  cursor: pointer;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-picker-figure {
  flex: 0 0 18%;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #666;
}

.card-picker-color:hover,
.card-picker-figure:hover {
  background-color: #efefef;
}

.card-picker-color::after,
.card-picker-figure::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card-picker-card {
  flex: 1;
  margin: 0;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-picker-card span {
  font-weight: bold;
}

.card-picker-card span:last-child {
  bottom: 0;
  right: 2px;
  position: absolute;
}

.card-picker-card.hearts span,
.card-picker-card.diamonds span {
  color: #e60000;
}
