$red: #e60000;
$blue: lightsteelblue;
$light-grey: #efefef;
$primary-color: darken($blue, 10%);

$positions-colors: (
  "utg": plum,
  "hj": lightsalmon,
  "cu": khaki,
  "bt": palegreen,
  "sb": paleturquoise
);

$suit-colors: (
  "spades": black,
  "hearts": crimson,
  "diamonds": cornflowerblue,
  "clubs": lightseagreen
);
