@import '../../styles/common.scss';

.range {
  flex: 1;
  display: flex;

  .table {
    flex: 1;
  }

  .list {
    width: 30vw;
    margin: $size/4 0 $size $size;

    h3 {
      margin: 0 0 $size;
      position: relative;

      span {
        right: 0;
        bottom: 0;
        font-size: 80%;
        position: absolute;
        font-weight: normal;
        font-family: 'PT Sans';
      }
    }

    .position {
      cursor: pointer;
      position: relative;
      border-radius: $radius;
      margin-bottom: $size/2;
      box-shadow: $box-shadow;
      background-color: $light-grey;
      flex-basis: calc(16.6% - $size);
      border: 2px solid $primary-color;

      h4 {
        margin: $size/2;
        padding-left: 24px;
        position: relative;
        text-transform: uppercase;

        span {
          right: 0;
          bottom: 0;
          font-size: 80%;
          position: absolute;
          font-weight: normal;
          font-family: 'PT Sans';
          text-transform: lowercase;
        }

        &::before {
          left: 0;
          width: $size;
          height: $size;
          content: ' ';
          border-radius: 50%;
          position: absolute;
          background-color: black;
          border: 1px solid black;
        }
      }

      @each $position, $color in $positions-colors {
        &.#{$position} h4::before {
          background-color: $color;
          border-color: darken($color, 20%);
        }
      }

      .hands {
        margin: $size/2 $size/2 $size/4 $size/2;

        & > div {
          font-size: 70%;
          padding: $size/4;
          display: inline-block;
          background-color: white;
          border-radius: $radius/2;
          margin: 0 $size/4 $size/4 0;
        }
      }

      &.selected {
        background-color: white;

        .hands {

          & > div {
            background-color: $light-grey;
          }
        }
      }
    }
  }
}
