@import './styles/colors.scss';

body {
  color: $primary-color;
}

h1, h2, h3, h4 {
  margin: 16px 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-top {
  /* background-color: red; */
}

.app-bottom {
  display: flex;
}

.app-bottom .hands-table {
  flex: 1;
}

.app-bottom .hands-list {
  width: 30vw;
}

.spades {
  background-image: url(./images/spades.svg);
}

.hearts {
  background-image: url(./images/hearts.svg);
}

.diamonds {
  background-image: url(./images/diamonds.svg);
}

.clubs {
  background-image: url(./images/clubs.svg);
}
