@import './styles/common.scss';

.app {
  flex: 1;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    overflow-y: auto;
  }

  .range, .game {
    margin: $size;
  }
}

@each $suit, $code in $suit-unicodes {
  .#{$suit}::before {
    content: $code;
    position: absolute;
    @include suit-color($suit);
  }
}

.logo {
  top: 1px;
  width: 28px;
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & > div {
    width: 14px;
    height: 14px;
    flex: 0 0 50%;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
  }
}
